.elementor-442 .elementor-element.elementor-element-298bb8f {
  padding: 30px 0px 30px 0px;
}
.elementor-442 .elementor-element.elementor-element-95f4192 {
  text-align: center;
}
.elementor-442 .elementor-element.elementor-element-050e72a {
  padding: 0px 0px 20px 0px;
}
.elementor-442 .elementor-element.elementor-element-a29f149 {
  text-align: center;
}
.elementor-442
  .elementor-element.elementor-element-a29f149
  .elementor-heading-title {
  font-size: 18px;
  font-weight: 600;
}
.elementor-442 .elementor-element.elementor-element-6a441ed {
  text-align: center;
}
.elementor-442
  .elementor-element.elementor-element-6a441ed
  .elementor-heading-title {
  font-size: 18px;
  font-weight: 600;
}
.elementor-442 .elementor-element.elementor-element-b1ac386 {
  text-align: center;
}
.elementor-442
  .elementor-element.elementor-element-b1ac386
  .elementor-heading-title {
  font-size: 18px;
  font-weight: 600;
}
.elementor-442 .elementor-element.elementor-element-67b4226 {
  padding: 0px 0px 20px 0px;
}
.elementor-442 .elementor-element.elementor-element-df6a711 {
  text-align: center;
}
.elementor-442
  .elementor-element.elementor-element-df6a711
  .elementor-heading-title {
  font-size: 18px;
  font-weight: 600;
}
.elementor-442 .elementor-element.elementor-element-214b8c0 {
  text-align: center;
}
.elementor-442
  .elementor-element.elementor-element-214b8c0
  .elementor-heading-title {
  font-size: 18px;
  font-weight: 600;
}
.elementor-442 .elementor-element.elementor-element-408805e {
  text-align: center;
}
.elementor-442
  .elementor-element.elementor-element-408805e
  .elementor-heading-title {
  font-size: 18px;
  font-weight: 600;
}
.elementor-442 .elementor-element.elementor-element-32fcc26 {
  padding: 0px 0px 20px 0px;
}
.elementor-442 .elementor-element.elementor-element-e431c42 {
  text-align: center;
}
.elementor-442
  .elementor-element.elementor-element-e431c42
  .elementor-heading-title {
  font-size: 18px;
  font-weight: 600;
}
.elementor-442 .elementor-element.elementor-element-2b6db27 {
  text-align: center;
}
.elementor-442
  .elementor-element.elementor-element-2b6db27
  .elementor-heading-title {
  font-size: 18px;
  font-weight: 600;
}
.elementor-442 .elementor-element.elementor-element-a95f6b6 {
  text-align: center;
}
.elementor-442
  .elementor-element.elementor-element-a95f6b6
  .elementor-heading-title {
  font-size: 18px;
  font-weight: 600;
}
.elementor-442 .elementor-element.elementor-element-df1df1f {
  padding: 0px 0px 30px 0px;
}
.elementor-442
  .elementor-element.elementor-element-de40308
  .elementor-icon-list-icon
  i {
  font-size: 14px;
}
.elementor-442
  .elementor-element.elementor-element-de40308
  .elementor-icon-list-icon
  svg {
  width: 14px;
}
.elementor-442
  .elementor-element.elementor-element-de40308
  .elementor-icon-list-item,
.elementor-442
  .elementor-element.elementor-element-de40308
  .elementor-icon-list-item
  a {
  font-size: 16px;
}
:root {
  --page-title-display: none;
} /* Start custom CSS for icon-list, class: .elementor-element-de40308 */
.videopagenav ul li {
  border: 1px solid #dfdfdf;
  border-radius: 50%;
  padding: 5px 10px !important;
} /* End custom CSS */
