.elementor-78
  .elementor-element.elementor-element-3cf488a
  > .elementor-container {
  min-height: 100px;
}
.elementor-78
  .elementor-element.elementor-element-3cf488a
  > .elementor-container:after {
  content: "";
  min-height: inherit;
}
.elementor-78
  .elementor-element.elementor-element-3cf488a
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-78
  .elementor-element.elementor-element-3cf488a:not(.elementor-motion-effects-element-type-background),
.elementor-78
  .elementor-element.elementor-element-3cf488a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #902535;
}
.elementor-78 .elementor-element.elementor-element-3cf488a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-78
  .elementor-element.elementor-element-3cf488a
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-78
  .elementor-element.elementor-element-9f109fa
  .elementor-menu-toggle {
  margin: 0 auto;
}
.elementor-78
  .elementor-element.elementor-element-9f109fa
  .elementor-nav-menu
  .elementor-item {
  font-size: 14px;
}
.elementor-78
  .elementor-element.elementor-element-9f109fa
  .elementor-nav-menu--main
  .elementor-item {
  color: #ffffff;
}
.elementor-78
  .elementor-element.elementor-element-ad94921
  .elementor-menu-toggle {
  margin-right: auto;
}
.elementor-78
  .elementor-element.elementor-element-ad94921
  .elementor-nav-menu
  .elementor-item {
  font-size: 14px;
}
.elementor-78
  .elementor-element.elementor-element-ad94921
  .elementor-nav-menu--main
  .elementor-item {
  color: #ffffff;
}
.elementor-78
  .elementor-element.elementor-element-ad94921
  .elementor-nav-menu--dropdown
  a,
.elementor-78
  .elementor-element.elementor-element-ad94921
  .elementor-menu-toggle {
  color: #ffffff;
}
.elementor-78
  .elementor-element.elementor-element-ad94921
  .elementor-nav-menu--dropdown {
  background-color: #711a27;
}
.elementor-78
  .elementor-element.elementor-element-ad94921
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-78
  .elementor-element.elementor-element-ad94921
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-78
  .elementor-element.elementor-element-ad94921
  .elementor-nav-menu--dropdown
  a.highlighted {
  background-color: #902535;
}
.elementor-78
  .elementor-element.elementor-element-ad94921
  .elementor-nav-menu--dropdown
  a.elementor-item-active {
  background-color: #902535;
}
.elementor-78
  .elementor-element.elementor-element-ad94921
  div.elementor-menu-toggle {
  color: #ffffff;
}
.elementor-78 .elementor-element.elementor-element-d050aae {
  text-align: center;
}
.elementor-78
  .elementor-element.elementor-element-c4ada8e
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-78
  .elementor-element.elementor-element-9b56687
  .elementor-icon-wrapper {
  text-align: right;
}
.elementor-78
  .elementor-element.elementor-element-9b56687.elementor-view-stacked
  .elementor-icon {
  background-color: #fdfdfd;
}
.elementor-78
  .elementor-element.elementor-element-9b56687.elementor-view-framed
  .elementor-icon,
.elementor-78
  .elementor-element.elementor-element-9b56687.elementor-view-default
  .elementor-icon {
  color: #fdfdfd;
  border-color: #fdfdfd;
}
.elementor-78
  .elementor-element.elementor-element-9b56687.elementor-view-framed
  .elementor-icon,
.elementor-78
  .elementor-element.elementor-element-9b56687.elementor-view-default
  .elementor-icon
  svg {
  fill: #fdfdfd;
}
.elementor-78 .elementor-element.elementor-element-9b56687 .elementor-icon {
  font-size: 20px;
}
.elementor-78 .elementor-element.elementor-element-9b56687 .elementor-icon i,
.elementor-78 .elementor-element.elementor-element-9b56687 .elementor-icon svg {
  transform: rotate(0deg);
}
.elementor-bc-flex-widget
  .elementor-78
  .elementor-element.elementor-element-38f65ed.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-78
  .elementor-element.elementor-element-38f65ed.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-78
  .elementor-element.elementor-element-38f65ed.elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-78
  .elementor-element.elementor-element-39d530e
  .elementor-menu-cart__toggle {
  text-align: right;
}
.elementor-78
  .elementor-element.elementor-element-39d530e
  .elementor-menu-cart__toggle
  .elementor-button {
  color: #ffffff;
  border-width: 0px;
}
.elementor-78
  .elementor-element.elementor-element-39d530e
  .elementor-menu-cart__toggle
  .elementor-button-icon {
  color: #ffffff;
  font-size: 20px;
}
.elementor-78
  .elementor-element.elementor-element-39d530e
  .elementor-menu-cart__subtotal {
  font-family: "Tahoma", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.elementor-78
  .elementor-element.elementor-element-39d530e
  .elementor-menu-cart__product-price {
  color: #902535;
}
.elementor-78
  .elementor-element.elementor-element-39d530e
  .elementor-menu-cart__footer-buttons {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.elementor-78
  .elementor-element.elementor-element-39d530e
  .elementor-button--view-cart {
  color: #902535;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #902535;
}
.elementor-78
  .elementor-element.elementor-element-39d530e
  .elementor-button--checkout {
  color: #ffffff;
  background-color: #902535;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #902535;
}
.elementor-78
  .elementor-element.elementor-element-5c400ae:not(.elementor-motion-effects-element-type-background),
.elementor-78
  .elementor-element.elementor-element-5c400ae
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #902535;
}
.elementor-78 .elementor-element.elementor-element-5c400ae {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-78
  .elementor-element.elementor-element-5c400ae
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-78
  .elementor-element.elementor-element-58acc29
  .elementor-menu-toggle {
  margin-left: auto;
}
.elementor-78
  .elementor-element.elementor-element-58acc29
  .elementor-nav-menu
  .elementor-item {
  font-size: 18px;
  font-weight: 500;
}
.elementor-78
  .elementor-element.elementor-element-58acc29
  .elementor-nav-menu--main
  .elementor-item {
  color: #ffffff;
}
.elementor-78
  .elementor-element.elementor-element-58acc29
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-78
  .elementor-element.elementor-element-58acc29
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-78
  .elementor-element.elementor-element-58acc29
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-78
  .elementor-element.elementor-element-58acc29
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: #eb9ca8;
}
.elementor-78
  .elementor-element.elementor-element-58acc29
  .elementor-nav-menu--dropdown
  a,
.elementor-78
  .elementor-element.elementor-element-58acc29
  .elementor-menu-toggle {
  color: #ffffff;
}
.elementor-78
  .elementor-element.elementor-element-58acc29
  .elementor-nav-menu--dropdown {
  background-color: #732734;
}
.elementor-78
  .elementor-element.elementor-element-58acc29
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-78
  .elementor-element.elementor-element-58acc29
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-78
  .elementor-element.elementor-element-58acc29
  .elementor-nav-menu--dropdown
  a.highlighted {
  background-color: #5a1a26;
}
.elementor-78
  .elementor-element.elementor-element-58acc29
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-78
  .elementor-element.elementor-element-58acc29
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  text-transform: uppercase;
}
.elementor-78
  .elementor-element.elementor-element-785fa6b:not(.elementor-motion-effects-element-type-background),
.elementor-78
  .elementor-element.elementor-element-785fa6b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #902535;
}
.elementor-78 .elementor-element.elementor-element-785fa6b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 20px 0px 20px 0px;
}
.elementor-78
  .elementor-element.elementor-element-785fa6b
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-78
  .elementor-element.elementor-element-355f206.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-78
  .elementor-element.elementor-element-355f206.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .elementor-78 .elementor-element.elementor-element-ad94921 {
    z-index: 299;
  }
}
@media (max-width: 767px) {
  .elementor-78
    .elementor-element.elementor-element-3cf488a
    > .elementor-container {
    min-height: 125px;
  }
  .elementor-78
    .elementor-element.elementor-element-3cf488a
    > .elementor-container:after {
    content: "";
    min-height: inherit;
  }
  .elementor-78 .elementor-element.elementor-element-3bd1853 {
    width: 20%;
  }
  .elementor-78
    .elementor-element.elementor-element-ad94921
    .elementor-nav-menu--dropdown
    .elementor-item,
  .elementor-78
    .elementor-element.elementor-element-ad94921
    .elementor-nav-menu--dropdown
    .elementor-sub-item {
    font-size: 16px;
  }
  .elementor-78
    .elementor-element.elementor-element-ad94921
    .elementor-nav-menu--dropdown
    a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .elementor-78 .elementor-element.elementor-element-831c070 {
    width: 50%;
  }
  .elementor-78 .elementor-element.elementor-element-7cba798 {
    width: 30%;
  }
  .elementor-78 .elementor-element.elementor-element-65e8073 {
    width: 50%;
  }
  .elementor-78 .elementor-element.elementor-element-38f65ed {
    width: 50%;
  }
  .elementor-78 .elementor-element.elementor-element-785fa6b {
    padding: 0px 0px 10px 0px;
  }
}
@media (min-width: 768px) {
  .elementor-78 .elementor-element.elementor-element-3bd1853 {
    width: 30%;
  }
  .elementor-78 .elementor-element.elementor-element-831c070 {
    width: 38.665%;
  }
  .elementor-78 .elementor-element.elementor-element-7cba798 {
    width: 30%;
  }
  .elementor-78 .elementor-element.elementor-element-65e8073 {
    width: 74.534%;
  }
  .elementor-78 .elementor-element.elementor-element-38f65ed {
    width: 25.311%;
  }
} /* Start custom CSS for woocommerce-menu-cart, class: .elementor-element-39d530e */
.cartsider .elementor-button.elementor-size-md {
  padding: 10px !important;
} /* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-58acc29 */
.header-menu {
  border-left: 2px solid transparent;
  border-bottom: 2px solid #a95964;
}

.header-menu ul li ul.sub-menu {
  margin-left: 45px !important;
} /* End custom CSS */
/* Start custom CSS for wp-widget-woocommerce_product_search, class: .elementor-element-f745f44 */
.header-search {
  max-width: 400px;
  margin: 0 auto;
}
.header-search .elementor-search-form__container {
  min-height: 38px !important;
}

.header-search input[type="search"] {
  display: block;
  float: left;
}
.header-search button {
  display: inline-block;
  float: right;
  margin-top: -42px;
  color: #fff;
  background-color: #711a27;
  border: 1px solid #711a27;
  border-radius: 0;
}

.header-search button:hover {
  background-color: #711a27;
} /* End custom CSS */
