.elementor-589 .elementor-element.elementor-element-49ca5c1 {
  padding: 30px 0px 30px 0px;
}
.elementor-589 .elementor-element.elementor-element-4bdbefc {
  text-align: center;
}
.elementor-589
  .elementor-element.elementor-element-7427782:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-589
  .elementor-element.elementor-element-7427782
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f2f2f2;
}
.elementor-589
  .elementor-element.elementor-element-7427782
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-589
  .elementor-element.elementor-element-7427782
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-589 .elementor-element.elementor-element-eacfae6 {
  text-align: center;
}
.elementor-589
  .elementor-element.elementor-element-eacfae6
  .elementor-heading-title {
  font-size: 18px;
}
.elementor-589
  .elementor-element.elementor-element-0d652e3
  .elementor-field-group {
  padding-right: calc(10px / 2);
  padding-left: calc(10px / 2);
  margin-bottom: 10px;
}
.elementor-589
  .elementor-element.elementor-element-0d652e3
  .elementor-form-fields-wrapper {
  margin-left: calc(-10px / 2);
  margin-right: calc(-10px / 2);
  margin-bottom: -10px;
}
.elementor-589
  .elementor-element.elementor-element-0d652e3
  .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-589
  .elementor-element.elementor-element-0d652e3
  .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl
  .elementor-589
  .elementor-element.elementor-element-0d652e3
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-left: 0px;
}
body:not(.rtl)
  .elementor-589
  .elementor-element.elementor-element-0d652e3
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-right: 0px;
}
body
  .elementor-589
  .elementor-element.elementor-element-0d652e3
  .elementor-labels-above
  .elementor-field-group
  > label {
  padding-bottom: 0px;
}
.elementor-589
  .elementor-element.elementor-element-0d652e3
  .elementor-field-type-html {
  padding-bottom: 0px;
}
.elementor-589
  .elementor-element.elementor-element-0d652e3
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: #ffffff;
}
.elementor-589
  .elementor-element.elementor-element-0d652e3
  .elementor-field-group
  .elementor-select-wrapper
  select {
  background-color: #ffffff;
}
.elementor-589 .elementor-element.elementor-element-0d652e3 .elementor-button {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
}
.elementor-589
  .elementor-element.elementor-element-0d652e3
  .e-form__buttons__wrapper__button-next {
  background-color: #ffffff;
  color: #cc3366;
  border-color: #cc3366;
}
.elementor-589
  .elementor-element.elementor-element-0d652e3
  .elementor-button[type="submit"] {
  background-color: #ffffff;
  color: #cc3366;
  border-color: #cc3366;
}
.elementor-589
  .elementor-element.elementor-element-0d652e3
  .elementor-button[type="submit"]
  svg
  * {
  fill: #cc3366;
}
.elementor-589
  .elementor-element.elementor-element-0d652e3
  .e-form__buttons__wrapper__button-previous {
  color: #ffffff;
}
.elementor-589
  .elementor-element.elementor-element-0d652e3
  .e-form__buttons__wrapper__button-next:hover {
  background-color: #cc3366;
  color: #ffffff;
  border-color: #cc3366;
}
.elementor-589
  .elementor-element.elementor-element-0d652e3
  .elementor-button[type="submit"]:hover {
  background-color: #cc3366;
  color: #ffffff;
  border-color: #cc3366;
}
.elementor-589
  .elementor-element.elementor-element-0d652e3
  .elementor-button[type="submit"]:hover
  svg
  * {
  fill: #ffffff;
}
.elementor-589
  .elementor-element.elementor-element-0d652e3
  .e-form__buttons__wrapper__button-previous:hover {
  color: #ffffff;
}
.elementor-589 .elementor-element.elementor-element-0d652e3 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #ffffff;
  --e-form-steps-indicator-active-secondary-color: #ffffff;
  --e-form-steps-indicator-completed-secondary-color: #ffffff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
.elementor-589 .elementor-element.elementor-element-693b1af {
  padding: 30px 0px 30px 0px;
}
.elementor-589 .elementor-element.elementor-element-3806969 {
  --grid-side-margin: 10px;
  --grid-column-gap: 10px;
  --grid-row-gap: 10px;
  --grid-bottom-margin: 10px;
}
.elementor-589
  .elementor-element.elementor-element-3806969
  .elementor-share-btn {
  border-width: 2px;
}
@media (max-width: 1024px) {
  .elementor-589 .elementor-element.elementor-element-3806969 {
    --grid-side-margin: 10px;
    --grid-column-gap: 10px;
    --grid-row-gap: 10px;
    --grid-bottom-margin: 10px;
  }
}
@media (max-width: 767px) {
  .elementor-589 .elementor-element.elementor-element-3806969 {
    --grid-side-margin: 10px;
    --grid-column-gap: 10px;
    --grid-row-gap: 10px;
    --grid-bottom-margin: 10px;
  }
}
